on init
    # Huawei log
    chmod 0660 /dev/hwlog_switch
    chown logd system /dev/hwlog_switch

on fs
    restorecon /sys/class/graphics/fb0/lcd_cabc_mode
    restorecon /sys/class/leds/torch/flash_thermal_protect

on post-fs-data
    mkdir /data/hwzd_logs
    chmod 0775 /data/hwzd_logs
    chown system system /data/hwzd_logs
    restorecon_recursive /data/hwzd_logs

    mkdir /data/log
    chmod 0775 /data/log
    chown system system /data/log
    restorecon_recursive /data/log

    mkdir /data/hisi_logs
    chmod 0770 /data/hisi_logs
    chown root system /data/hisi_logs
    restorecon_recursive /data/hisi_logs

    mkdir /data/log/press10
    chmod 0770 /data/log/press10
    chown system system /data/log/press10
    restorecon_recursive /data/log/press10

    mkdir /data/log/isp-log
    chmod 0775 /data/log/isp-log
    chown root system /data/log/isp-log
    restorecon_recursive /data/log/isp-log

    mkdir /data/log/xcollie
    chown system log /data/log/xcollie
    chmod 2775 /data/log/xcollie
    restorecon_recursive /data/log/xcollie

    mkdir /data/apkpush
    chmod 0770 /data/apkpush
    chown system cache /data/apkpush
    restorecon_recursive /data/apkpush

    mkdir /data/misc/hsm
    chmod 0770 /data/misc/hsm
    chown system system /data/misc/hsm
    restorecon_recursive /data/misc/hsm

    mkdir /data/cota
    chmod 0775 /data/cota
    chown system system /data/cota
    restorecon_recursive /data/cota

    mkdir /data/cota/cloud
    chmod 0770 /data/cota/cloud
    chown system system /data/cota/cloud
    restorecon_recursive /data/cota/cloud
    
    mkdir /data/misc/hwpush
    chmod 0770 /data/misc/hwpush
    chown system system /data/misc/hwpush
    restorecon_recursive /data/misc/hwpush
    
    chown root system /sys/kernel/exmbist_test/test_entry
    chmod 0664 /sys/kernel/exmbist_test/test_entry

    chown root system /sys/kernel/exmbist_test/test_entry
    chmod 0664 /sys/kernel/exmbist_test/test_result

    mkdir /data/misc/oma
    chmod 0770 /data/misc/oma
    chown system system /data/misc/oma
    restorecon_recursive /data/misc/oma

    mkdir /splash2/boot_fail
    chmod 0775 /splash2/boot_fail
    chown root system /splash2/boot_fail
    restorecon_recursive /splash2/boot_fail

    mkdir /splash2/storage
    chmod 0770 /splash2/storage
    chown root system /splash2/storage
    restorecon_recursive /splash2/storage

    mkdir /data/misc/hwsystemserver
    chmod 770 /data/misc/hwsystemserver
    chown system system /data/misc/hwsystemserver
    restorecon_recursive /data/misc/hwsystemserver

    mkdir /data/misc/hwpki
    chmod 770 /data/misc/hwpki
    chown system system /data/misc/hwpki
    restorecon_recursive /data/misc/hwpki

    # FS
    setprop vold.post_fs_data_done 1

on boot
    # Huawei log
    chmod 0660 /dev/hwlog_tag
    chown system system /dev/hwlog_tag

    # Charger
    chmod 0660 /sys/class/hw_power/charger/charge_data/adc_conv_rate
    chown system system /sys/class/hw_power/charger/charge_data/adc_conv_rate
    chmod 0660 /sys/class/hw_power/charger/charge_data/enable_charger
    chown system system /sys/class/hw_power/charger/charge_data/enable_charger
    chmod 0660 /sys/class/hw_power/charger/charge_data/adaptor_test
    chown system system /sys/class/hw_power/charger/charge_data/adaptor_test
    chmod 0660 /sys/class/hw_power/charger/charge_data/iin_thermal
    chown system system /sys/class/hw_power/charger/charge_data/iin_thermal
    write /sys/class/hw_power/charger/charge_data/iin_thermal 900
    chmod 0660 /sys/class/hw_power/charger/charge_data/adaptor_voltage
    chown system system /sys/class/hw_power/charger/charge_data/adaptor_voltage
    chmod 0660 /sys/class/hw_power/charger/charge_data/iin_thermal_aux
    chown system system /sys/class/hw_power/charger/charge_data/iin_thermal_aux
    chmod 0660 /sys/class/hw_power/charger/charge_data/ichg_thermal
    chown system system /sys/class/hw_power/charger/charge_data/ichg_thermal
    chmod 0660 /sys/class/hw_power/charger/charge_data/ichg_thermal_aux
    chown system system /sys/class/hw_power/charger/charge_data/ichg_thermal_aux
    chmod 0660 /sys/class/hw_power/charger/charge_data/regulation_voltage
    chown system system /sys/class/hw_power/charger/charge_data/regulation_voltage
    chmod 0660 /sys/class/hw_power/charger/charge_data/iin_runningtest
    chown system system /sys/class/hw_power/charger/charge_data/iin_runningtest
    chmod 0660 /sys/class/hw_power/charger/charge_data/ichg_runningtest
    chown system system /sys/class/hw_power/charger/charge_data/ichg_runningtest
    chown system system /sys/class/hisi_usb_class/hisi_usb_dev/interface/release_wakelock
    chmod 0660 /sys/class/hisi_usb_class/hisi_usb_dev/interface/release_wakelock
    chmod 0660 /sys/class/hw_power/charger/charge_data/enable_hiz
    chown system system /sys/class/hw_power/charger/charge_data/enable_hiz
    chmod 0660 /sys/class/hw_power/charger/charge_data/shutdown_watchdog
    chown system system /sys/class/hw_power/charger/charge_data/shutdown_watchdog
    chmod 0660 /sys/class/hw_power/charger/charge_data/inputcurrent
    chown system system /sys/class/hw_power/charger/charge_data/inputcurrent
    chmod 0660 /sys/class/hw_power/charger/charge_data/voltage_sys
    chown system system /sys/class/hw_power/charger/charge_data/voltage_sys
    chmod 0660 /sys/class/hw_power/charger/charge_data/vr_charger_type
    chown system system /sys/class/hw_power/charger/charge_data/vr_charger_type
    chmod 0660 /sys/class/hw_power/charger/direct_charger/enable_charger
    chown system system /sys/class/hw_power/charger/direct_charger/enable_charger
    chmod 0660 /sys/class/hw_power/charger/direct_charger/iin_thermal
    chown system system /sys/class/hw_power/charger/direct_charger/iin_thermal
    write /sys/class/hw_power/charger/direct_charger/iin_thermal 1500
    chmod 0660 /sys/class/hw_power/coul/coul_data/cali_adc
    chown system system /sys/class/hw_power/coul/coul_data/cali_adc
    chmod 0666 /sys/devices/virtual/hw_power/bq_bci/capacity_dec_start_event
    chown system system /sys/devices/virtual/hw_power/bq_bci/capacity_dec_start_event

    # BFM
    chmod 0660 /sys/class/misc/hw_bfm/bfm_ctl
    chown system system /sys/class/misc/hw_bfm/bfm_ctl
    chown system system /dev/hw_bfm
    chmod 0660 /dev/hw_bfm

    # CPU
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/msg_policy
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/msg_policy

on property:vold.decrypt=trigger_reset_main
    class_reset main
    class_reset late_start
    setprop vold.crypto_support_innersd 1

on property:vold.decrypt=trigger_restart_min_framework
    trigger restart-sdcardfs
    trigger start_main_class

on property:vold.decrypt=trigger_restart_framework
    trigger restart-sdcardfs
    trigger start_main_class
    trigger start_latestart_class
    trigger start_other_action
    trigger data_ready

on property:vold.decrypt=trigger_default_encryption
    start surfaceflinger
    start defaultcrypto

on property:vold.decrypt=trigger_shutdown_framework
    trigger data_not_ready

on data_ready
    setprop sys.userdata_is_ready 1
    write /proc/post-fs-data 1
    write /proc/apanic_console 1
    setprop sys.usb.start_atdiag ${sys.usb.start_atdiag}
    setprop sys.usb.start_modempcui ${sys.usb.start_modempcui}

on data_not_ready
    setprop sys.userdata_is_ready 0
    write /proc/post-fs-data 0

on property:bastet.service.enable=true
    start bastetd

on property:ro.config.hw_emcom=true
    start emcomd

service fuse_sdcard1rw /system/bin/sdcard -u 1023 -g 1023 /mnt/media_rw/sdcard1 /storage/sdcard1
   class late_start
   disabled

service fuse_sdcard1 /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/sdcard1 /storage/sdcard1
   class late_start
   disabled

service fuse_usbotg /system/bin/sdcard -u 1023 -g 1023 -w 1015 -d /mnt/media_rw/usbotg /storage/usbotg
   class late_start
   disabled

service preparesdservice /system/bin/vdc volume storagetosd
   class main
   disabled
   oneshot

on property:persist.sys.primarysd=*
   start preparesdservice

service hiscoutmanager /system/vendor/bin/hiscoutmanager
    class late_start
    user root
    group system
    oneshot
    seclabel u:r:hiscoutmanager:s0
	
service iked /system/vendor/bin/iked
    class late_start
    user root
    disabled
    group system
	
on property:ro.config.hw_vowifi=true
    start iked
	
service hw_cdma_service /system/bin/hw_cdmamodem_service /dev/acm_cdma_log /dev/ttySPI3 /dev/ttySPI1
    class main
    user root
    disabled

service hwpged /system/bin/hwpged
    class main
    socket iawared seqpacket 0660 system system
    user root
    group readproc
    writepid /dev/cpuset/foreground/tasks

service mobicache /system/bin/mobicache
    class main
    user root
    group readproc

service powerlogd /system/bin/powerlogd
    class core
    socket powerlogd stream 0600 system system
    socket powerlogdr seqpacket 0600 system system
    socket powerlogdw dgram 0220 system system
    writepid /dev/cpuset/system-background/tasks /dev/cpuctl/bg_non_interactive/tasks /dev/stune/system-background/tasks /dev/blkio/system-background/tasks

service bastetd /system/bin/bastetd
    class main
    user root
    group root

service storage_info /vendor/bin/storage_info
    class late_start
    user root
    group system wakelock

service emcomd /system/bin/emcomd
    class main
    socket emcomd stream 0600 system system
    user root
    group root system
    seclabel u:r:emcomd:s0
