on init
    chmod 0400 /dev/hisi_teelog

service teecd /vendor/bin/teecd
    class core
    user root
    group root readproc

service system_teecd /system/bin/system_teecd
    socket tui_daemon stream 660 root system
    socket tee-multi-user stream 660 root system
    class core
    user root
    group root readproc

service teelogcat /vendor/bin/tlogcat -f
    class late_start
    user root
    group system
    disabled
    seclabel u:r:hisilogcat:s0

on property:persist.sys.huawei.debug.on=1
    start teelogcat

on property:persist.sys.huawei.debug.on=0
    stop teelogcat
